@model List<PASSForm_BPS.Models.BpsRequest>


<html>
<head>
    <title>Your View</title>

</head>
<body>
    <div style="padding-top:5%;">


        <div style="overflow-x: auto; border: 2px solid; background-color: white; border-radius: 10px; border-color: white; box-shadow: 1px 0px 9px 1px lightgray;">
            <table class="table hide" id="App_DataTable">
                <thead>
                    <tr class="table table-striped">
                        <th>BPS Request Id</th>
                        <th>Territory Code</th>
                        <th>Workflow Status</th>
                        <th>Activity Status</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th></th>
               @*         <th></th>*@
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model.OrderByDescending(x => x.BpsRecordId).ToList())
                    {
                        <tr>
                            <td>@("00000" + item.BpsRecordId.ToString())</td>
                            <td>@item.TMCode</td>
                            <td>@item.StatusType</td>
                            @if(item.ActivityStatus == "8")
                            {
                                <td>Activity InProgress</td>
                            }
                            else if (item.ActivityStatus == "9")
                            {
                                <td>Activity Completed</td>
                            }
                            else
                            {
                                <td>Activity Not Started</td>
                            }

                            <td>@item.CreatedBy - @item.User_Name</td>
                            <td>@item.CreatedOn.Value.ToString("dd-MMM-yyyy")</td>

                    
                                                      
                                @if (@item.StatusId != 4)
                                {
                                <td class="text-center">
                                    <table>
                                        <tr>
                                            <td style="text-align:center;">
                                                <form hidden asp-action="Edit" asp-controller="ListView">

                                                    <input type="hidden" name="id" value="@item.TrackingId">
                                                    <input type="hidden" name="anotherId" value="@item.BpsRecordId">
                                                    <button type="submit" class="icon-navigation" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit" style="color:orange"></i></button>
                                                </form>

                                            </td>

                                            <td>
                                                <form  asp-action="Details" asp-controller="ListView">
                                                    <input type="hidden" name="id" value="@item.TrackingId">
                                                    <input type="hidden" name="anotherId" value="@item.BpsRecordId">
                                                    <button type="submit" class="icon-navigation" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></button>
                                                </form>

                                            </td>
                                        </tr>
                                    </table>

                                </td>
                                }
                                else
                                {
                                <td class="text-center">
                                    <table>
                                        <tr>
                                            <td style="text-align:center;">
                                                <form asp-action="Edit" asp-controller="ListView">

                                                    <input type="hidden" name="id" value="@item.TrackingId">
                                                    <input type="hidden" name="anotherId" value="@item.BpsRecordId">
                                                    <button type="submit" class="icon-navigation" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit" style="color:orange"></i></button>
                                                </form>

                                            </td>

                                            <td>
                                                <form asp-action="Details" asp-controller="ListView">
                                                    <input type="hidden" name="id" value="@item.TrackingId">
                                                    <input type="hidden" name="anotherId" value="@item.BpsRecordId">
                                                    <input type="hidden" name="screenId" value="submitscreen">
                                                    <button type="submit" class="icon-navigation" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></button>
                                                </form>

                                            </td>
                                        </tr>
                                    </table>

                                </td>

                                }
                           
                        </tr>
                    }
                    

                </tbody>
            </table>
        </div>
    </div>
    @section scripts{
        <script src="~/js/datatable_file.js"></script>
    }
    <div id="texting">
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $('#test').on('click', function (e) {
            ;
            $.ajax({
                url: '/ListView/ApprovedView_Partial',
                type: 'GET',
                cache: false,
                async: true,
                dataType: "html"


            })
                .done(function (result) {
                    $('#texting').html(result);
                }).fail(function (xhr) {
                    console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
                });

        });

        $(document).ready(function () {
            $('#App_DataTable').DataTable({
                order: false,
                columnDefs: [{
                    targets: "_all",
                    orderable: false
                }],
               // "order": [[5, "desc"]], // Order by the first column (index 0) in descending order
            });
        });




        //$(document).ready(function () {

        //    $('#App_DataTable thead tr')
        //        .clone(true)
        //        .addClass('filters')
        //        .appendTo('#App_DataTable thead');

        //    var table = $('#App_DataTable').DataTable({
        //        order: [[4, "desc"]],
        //        orderCellsTop: true,
        //        fixedHeader: true,

        //        initComplete: function () {
        //            var api = this.api();
        //            api
        //                .columns()
        //                .eq(0)
        //                .each(function (colIdx) {
        //                    if (colIdx <= 5) {
        //                        var cell = $('.filters th').eq(
        //                            $(api.column(colIdx).header()).index()
        //                        );
        //                        var title = $(cell).text();

        //                        $(cell).html('<input type="text"  style="width: 130px;"  />');
        //                        $(
        //                            'input',
        //                            $('.filters th').eq($(api.column(colIdx).header()).index())
        //                        )
        //                            .off('keyup change')
        //                            .on('change', function (e) {
        //                                $(this).attr('title', $(this).val());
        //                                var regexr = '({search})';

        //                                var cursorPosition = this.selectionStart;
        //                                api
        //                                    .column(colIdx)
        //                                    .search(
        //                                        this.value != ''
        //                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
        //                                            : '',
        //                                        this.value != '',
        //                                        this.value == ''
        //                                    )
        //                                    .draw();
        //                            })
        //                            .on('keyup', function (e) {
        //                                e.stopPropagation();

        //                                $(this).trigger('change');
        //                                $(this)
        //                                    .focus()[0]
        //                                    .setSelectionRange(cursorPosition, cursorPosition);
        //                            });

        //                    }
        //                });
        //        },
        //    });
        //});




    </script>
</body>

</html>