
@{

    ViewData["Title"] = "Create";
    @model PASSForm_BPS.ViewModel.BPSRequestListViewModel

    //@model List<PASSForm_BPS.Models.Hcprequest>


}

<html>
<head>
    <title>Your View</title>
    <script src="~/js/datatable_file.js"></script>
    <style>


        .accordion[disabled] {
            background-color: #ccc; /* Change the background color to gray */
            color: #888; /* Change the text color to a lighter gray */
            cursor: not-allowed; /* Change the cursor to "not-allowed" */
            /* Add any other styles to indicate it's disabled */
        }

            /* Styles for the active state (optional) */
            .accordion[disabled].active {
                background-color: #ccc; /* Change the background color when active */
                /* Add any other active styles if needed */
            }







        .createbtn{
            width: 8%;
            border-radius: 5px;
            height: 40px;
            color: black;
            background-color: white;
            border: 3px solid black;
            font-weight: 700;
        }

/*        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-toggle {
            padding: 5px 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            z-index: 1;
            WIDTH: 660PX;
        }

            .dropdown-content label {
                display: block;
                margin-bottom: 5px;
            }

            .dropdown-content input[type="checkbox"] {
                margin-right: 5px;
            }

        .dropdown:hover .dropdown-content {
            display: block;
        }*/


        #customers th{
            width:10%;
        }


        .hide {
            display: none;
        }
    </style>
</head>
<body>

    <div style="padding-top: 15px;">

        <div style="border: 2px solid; background-color: white; border-radius: 10px; border-color: white; box-shadow: 1px 0px 9px 1px lightgray;">
            <div style="padding-top: 15px;">


                @if(Model == null)
                {
                    <div style="padding-top: 15px; padding-left: 20px;">
                        <div class="conatiner">
                            <div class="row">
                                <div class="col-4">
                                    <form asp-controller="ListView" asp-action="Create" style="padding-left:12px;">
                                        <label style="font-weight:bold;">Tracking ID:</label>
                                        <div>
                                            <input  type="text" name="inputValue" />
                                            <button class="trackbtn" type="submit">Next</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-4">
                                    <label style="font-weight:bold;">Area:</label>
                                    <div>
                                        <input type="text" />
                                    </div>

                                </div>
                                <div class="col-4">
                                    <label style="font-weight:bold;">Distributor:</label>
                                    <div>

                                      @*  <select style="width: 70%; height: 30px;">*@
                                        <input type="text" style="width:90%" />
                                      @*  </select>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top:15px">
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <label style="font-weight:bold;">Territory Code:</label>
                                        <div>
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label style="font-weight:bold;">TM Name:</label>
                                        <div>
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label style="font-weight:bold;">MacroBrick:</label>
                                        <div>
                                            <select id="selectedbrick" style="width: 70%; height: 30px;">
                                                <option value="Select">Select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top:10px;">
                            <div style="padding:10px;">
                                <label style="font-weight:bold;">Teams:</label>
                                <div style="padding-top: 5px;">
                                    <div>
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                else{
                    @foreach (var rec in Model.requesthcp)
                    {


                        <div style="padding-top: 15px; padding-left: 20px;">
                            <div class="conatiner">
                                <div class="row">
                                    <div class="col-4">
                                        <div style="padding-left:3%;">
                                            <label style="font-weight:bold;">Teams:</label>

                                            <div style="padding-top: 5px; display:flex;">

                                                @foreach (var T in Model.teams)
                                                {
                                                    <div style="border: 2px solid #d71921 ; width: 50%; border-radius: 15px; text-align: center; color: #d71921 ; font-weight:700">

                                                        <label id="teamNames" value="@T.TeamName">@T.TeamName</label>
                                                    </div>

                                                }

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4">


                                        <label style="font-weight:bold;">Base Area:</label>
                                        <div>
                                            <input readonly value="@rec.BaseArea" type="text" />
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <label style="font-weight:bold;">Distributor:</label>
                                        <div>
                                            <select style="width: 95%; height: 30px;" id="distributer" onchange="getbrickbydiscode()">
                                                <option  value="Select">Select</option>
                                                @foreach (var item1 in Model.disterMappings)
                                                {
                                                    <option value="@item1.DistributerCode - @item1.DistrubiterName">@item1.DistributerCode - @item1.DistrubiterName</option>
@*                                                <input readonly id="distributer" value="@item1.DistributerCode - @item1.DistrubiterName" style="width:85%" type="text" />*@
                                                }
                                            </select>
                                            <label class="hide" id="DistributorErrorLabel" style="color:red;font-size:10px;">Required! Please Select Distributor</label>
                                        </div>
         
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top:15px">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <label style="font-weight:bold;">Territory Code:</label>
                                            <div>                                            
                                                <input readonly value="@rec.Tmcode" type="text" />
                                                </div>

                                        </div>
                                        <div class="col-4">
                                            <label style="font-weight:bold;">TM Name:</label>
                                            <div>
                                                @foreach (var uname in Model.users)
                                                {
                                                     <input readonly value="@uname.UserName" type="text" />
                                                }
                                               
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <label style="font-weight:bold;">MacroBrick:</label>
                                            <div>
                                                <select   style="width: 99%; height: 30px;"  id="selectedbrick" onchange="getchembybrickcode()">
                                                    <option value="Select">Select</option>
                                                    @foreach (var BrckCode in Model.terbrickMappings)
                                                    {
                                                        <option id="macrobrickcode"></option>
                                                    }
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top:10px;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
              @*                              <div style="padding:10px; ">
                                                <label style="font-weight:bold;">Teams:</label>

                                                <div style="padding-top: 5px; display:flex;">

                                                    @foreach (var T in Model.teams)
                                                    {
                                                        <div style="border: 2px solid #d71921 ; width: 25%; border-radius: 15px; text-align: center; color: #d71921 ; font-weight:700">

                                                            <label id="teamNames" value="@T.TeamName">@T.TeamName</label>
                                                        </div>

                                                    }

                                                </div>
                                            </div>*@
                                            <label style="font-weight:bold;">Comments:</label><br />
                                            <textarea id="createcomments" style="width:85%; height:100px; margin-top:1%;"></textarea>


                                        </div>
                                        <div class="col-6">
                                            <form asp-controller="ListView" asp-action="Create" style="padding-left:12px; visibility:hidden;">
                                                <label style="font-weight:bold;">Tracking ID:</label>
                                                <div>
                                                    <input readonly style="color:transparent" asp-for="@rec.TrackingId" id="hcpid" value="@rec.TrackingId" type="text" name="inputValue" />
                                                    <span asp-validation-for="@rec.TrackingId" class="text-danger"></span>
                                                    <button class="trackbtn" type="submit">Next</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>          
                            </div>
                        </div>
                    }
                    <div style="padding-left:26px;">
                    <div class="dropdown" id="mTeamDropdown">

                        <button class="dropdown-toggle">Please Select Chemist</button>
                        <div class="dropdown-content" id="teamsContent" >
                            <div id="selectedchemist">
                            </div>
                        </div>

                    </div>
                    </div>


                    }
                

            </div>    
        </div>
        
        <div id="tableAcc">


   
        </div>
        <div style="text-align:right; margin-top:2%";>
            <div style="text-align:right;">
                <label>Total Without Discount:</label>
                <input disabled type="text" id="totalwithoutdis" style="margin-left: 2%; text-align:right" value="@ViewBag.GrandTotal" />
            </div>
            <div style="text-align:right; padding-top:2%">
                <label>Total With Discount:</label>
                <input disabled type="text" id="totalwithdis" style="margin-left: 2%; text-align:right" value="@ViewBag.GrandTotal" />
            </div>
            <div style="text-align:right; padding-top:2%">
                <label>BPS Percentage %:</label>
                <input disabled type="text" id="bpspercentage" style="margin-left: 2%; text-align:right" value="@ViewBag.bpspercentgae" />
            </div><br />

            <div style="text-align:right;">
                <label>NET Percentage %:</label>
                <input disabled type="text" id="totalroipercentage" style="margin-left: 2%; text-align:right;" value="@ViewBag.bpspercentgae" /><br />
                <input style="margin-top:15px; width:10%;" id="bpspercentagebtn-post-@ViewBag.postcheckboxindex" onclick="CalculateBPSPercentage(@ViewBag.postcheckboxindex)" type="button" class="searchbutton" value="Calculate %" />
             </div>
        </div>
        <div style="padding-top:20px; text-align: center;">
             <form >
                <input id="createbps" type="button" class="createbtn" value="Create" onclick="SubmittedForm()" />
           
            </form>

        </div>

        

    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/datatable_file.js"></script>
    <script>

        //document.addEventListener("DOMContentLoaded", function () {
        //    var modal = document.getElementById("myModal");
        //    window.onclick = function (event) {
        //        if (event.target == modal) {
        //            modal.style.display = "none";
        //        }
        //    }
        //});





        function toggleTables() {
            ;
            $("#sku").toggle();
            $("#values").toggle();

        }

        $(document).ready(function () {

            $("#selectedchemist").on('change', function () {
                //debugger;
                //alert($(this).val());
                teamsChange();
            });

           

        //    $('#teamsContent').on('change', function () {
        //     //   debugger;
        //        var last_selected;
        //        debugger;
        //        if ($(this).is(":selected")) {
        //            last_selected = $(this).attr('value');
        //        }
        //        alert(last_selected);
        //        teamsChange(last_selected);

        //});


          


        });


        function getchembybrickcode() {


            var searchButtons = document.getElementsByClassName('searchbutton');
            if (searchButtons.length > 0) {
                var searchbutton = searchButtons[0];
                searchbutton.removeAttribute('disabled');
            }
            var selectedbrick = document.getElementById('selectedbrick').value;
            var parts = selectedbrick.split('-');

            // Extract the left part (the part before the '-')
            var leftValue = parts[0].trim();

            $.ajax({
                url: "/ListView/CreateAccordion", // Replace with your controller and action names
                method: "GET", // Use GET or POST based on your server's requirements
                data: { brickValue: leftValue }, // Send the unique identifier as data
                success: function (data) {
                    document.getElementById('selectedchemist').innerHTML = data.macChemMappings;
                    $('#tableAcc').empty();
                    // Handle the server's response here
                    // $("#tableAcc").html(data);
                },
                error: function (xhr, status, error) {
                    // Handle errors here
                    console.error("Error:", status, error);
                }
            });
        }
   
    </script>
    
</body>

</html>

