@using System.Data;
@inject Microsoft​.AspNetCore​.Http.IHttpContextAccessor httpContext;
@{
    ViewData["Title"] = "Details";
    @model PASSForm_BPS.ViewModel.BPSDetailsViewModel

    int presku = 0;
    int prevalue = 0;
    int postsku = 0;
    int postvalue = 0;
    int toggle = 0;
    var poNumber = Model.detailbps.FirstOrDefault()?.PONumber;
    @*============ (Start) Hassam ============*@
    var hcpData = ViewBag.HCPDetails as System.Data.DataTable;
    var hcpDocuments = ViewBag.DOCLIST as System.Data.DataTable;
    var doctorsData = ViewBag.DoctorsData;
    var previousPlans = ViewBag.PreviousPlans;
    var screentype = ViewBag.Screen;
    string roleId = httpContext.HttpContext.Session.GetString("roleid");


}
<html>
<head>
    <title>Your View</title>
    <style>
        



        .createbtn {
            width: 10%;
            border-radius: 5px;
            height: 35px;
            background-color: white;
            border: 3px solid black;
            font-weight: 700;
        }


        .hide {
            display: none;
        }

        .error-field {
            border: 1px solid red;
            border-radius: 5px;
        }


    </style>
</head>
<body>
    <div id="myModalDetails" class="modal" style="display:block; visibility:hidden">
        <div style="padding-left: 10%;padding-top: 5%;">
            <div class="modal-content">

                <div class="modal-body">
                    <p>Action Performed Succesfully!</p>

                </div>

            </div>
        </div>
        <!-- Modal content -->


    </div>
    <div style="padding-top: 15px;">

        <div style="border: 2px solid; background-color: white; border-radius: 10px; border-color: white; box-shadow: 1px 0px 9px 1px lightgray;">
            <div style="padding-top: 15px;">




                @foreach (var rec in Model.detailbps)
                {

                    <div style="padding-top: 15px; padding-left: 20px;">
                        <div class="conatiner">
                            <div class="row">
                                <div class="col-4">

                                    <div style="padding-left:3%">
                                        <label style="font-weight:bold;">Teams:</label>

                                        <div style="padding-top: 5px; display:flex;">

                                            @foreach (var T in Model.teams)
                                            {
                                                <div style="border: 2px solid #d71921 ; width: 45%; border-radius: 15px; text-align: center; color: #d71921 ; font-weight:700">

                                                    <label id="teamNames" value="@T.TeamName">@T.TeamName</label>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">


                                    <label style="font-weight:bold;">Base Area:</label>
                                    <div>
                                        @foreach (var area in Model.requesthcp)
                                        {
                                            <input disabled value="@area.BaseArea" type="text" />
                                        }
                                    </div>

                                </div>
                                <div class="col-4">
                                    <label style="font-weight:bold;">Distributor:</label>
                                    <div>
                                        @foreach (var dis in Model.distributers)
                                        {
                                            <input style="width:95%" disabled value="@dis.DistributerCode - @dis.DistrubiterName" type="text" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top:15px">
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <label style="font-weight:bold;">Territory Code:</label>
                                        <div>
                                            @foreach (var tmcode in Model.requesthcp)
                                            {
                                                <input disabled value="@tmcode.Tmcode" type="text" />
                                            }
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <label style="font-weight:bold;">TM Name:</label>
                                        <div>
                                            @foreach (var usr in Model.users)
                                            {
                                                <input disabled value="@usr.UserName" type="text" />
                                            }
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label style="font-weight:bold;">MacroBrick:</label>
                                        <div>
                                            @foreach (var mac in Model.macrobricks)
                                            {
                                                <input style="width:95%" disabled value="@mac.MacroBrickCode - @mac.MacroBrickName" type="text" />
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top:10px;">
                            <div style="padding-top:10px;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <label style="font-weight:bold;">Creater Comments:</label><br />
                                            @foreach (var com in Model.detailbps)
                                            {
                                                <textarea disabled id="createcomments" style="width:85%; height:100px; margin-top:1%;">@com.Comments</textarea>

                                            }
                                        </div>
                                        <div class="col-6">


                                            <form asp-controller="ListView" asp-action="Create" style="padding-left:12px; visibility:hidden;">
                                                <label style="font-weight:bold;">Tracking ID:</label>
                                                <div>
                                                    <input readonly style="color:transparent;" asp-for="@rec.TrackingId" id="tracid" value="@rec.TrackingId" type="text" name="inputValue" />
                                                    <span asp-validation-for="@rec.TrackingId" class="text-danger"></span>

                                                </div>
                                            </form>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div style="padding-top:20px;">
            <div>
                @foreach (var acc in Model.ChemistCodes)
                {
                    @foreach (var cn in Model.chemists)
                    {
                        if (cn.ChemistCode == acc)
                        {
                            <button class="accordion">@cn.ChemistName - @acc</button>
                        }

                    }
                    <div class="panel">
                        <p style="text-align: center; font-weight: bold; font-size: 20px;">Pre-Sales</p>
                        <div style="text-align: center;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <p style="text-align:right; color: #d71921;">Sale Units</p>
                                    </div>
                                    <div class="col-4">
                                        <div id="toggle-@toggle" class="toggle-switch" onclick="edittoggleSwitchAction(this,@toggle)">
                                            <div class="toggle-slider"></div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p style="text-align:left; color: #d71921;">Sale Values</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top:15px; padding-left:15px;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                       @* <label style="font-weight:bold">Pre Activity Sales</label>*@
                                    </div>
                                    <div class="col-3">
                                        <label>From:</label>

                                        @*@foreach (var group in Model.preDateRanges.Where(predat => predat.PreTotal != null && predat.Chemist_Code == acc)
                                       .GroupBy(predat => predat.Chemist_Code))
                                        {
                                            var predat = group.First(); // Take the first item in each group

                                            <input disabled type="date" value="@(predat.PreFromDate != null ? string.Format("{0:yyyy-MM-dd}", predat.PreFromDate) : string.Empty)" style="margin-left: 2%;" />
                                        }*@
                                        @foreach (var group in Model.preDateRanges.Where(predat => predat.PreTotal != null && predat.Chemist_Code == acc)
                                       .GroupBy(predat => predat.Chemist_Code))
                                        {
                                            var predat = group.First(); // Take the first item in each group

                                            <input disabled type="text" value="@(predat.PreFromDate != null ? predat.PreFromDate.Value.ToString("MMM yyyy") : string.Empty)" style="margin-left: 2%;" />
                                        }
                                    </div>
                                    <div class="col-3">
                                        <label>To:</label>


@*                                        @foreach (var group in Model.preDateRanges.Where(predat => predat.PreTotal != null && predat.Chemist_Code == acc)
                                       .GroupBy(predat => predat.Chemist_Code))
                                        {
                                            var predat = group.First(); // Take the first item in each group

                                            <input disabled type="date" value="@(predat.PreToDate != null ? string.Format("{0:yyyy-MM-dd}", predat.PreToDate) : string.Empty)" style="margin-left: 2%;" />
                                        }*@

                                        @foreach (var group in Model.preDateRanges.Where(predat => predat.PreTotal != null && predat.Chemist_Code == acc)
                                       .GroupBy(predat => predat.Chemist_Code))
                                        {
                                            var predat = group.First(); // Take the first item in each group

                                            <input disabled type="text" value="@(predat.PreToDate != null ? predat.PreToDate.Value.ToString("MMM yyyy") : string.Empty)" style="margin-left: 2%;" />
                                        }

                                    </div>
                                    <div class="col-3">
                                    @foreach (var predat in Model.preDateRanges)
                                    {
                                    if (predat.PreTotal != null)
                                    {
                                    if (predat.Chemist_Code == acc)
                                    {

                                                            <div>
                                                                <label>Contribution % :</label>
                                                                <input disabled type="number" value="@(predat.Contribution != null ? string.Format("{0:yyyy-MM-dd}", predat.Contribution) : string.Empty)" style="margin-left: 2%; text-align:right; width:25%;" />
                                                            </div>


                                        
                                    }
                                    }
                                    }

                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var skupre in Model.SalesUnitsPre)
                        {
                            @if (skupre.Key == acc)
                            {
                                <div id="sku-@presku" style="overflow:auto; ">
                                    <table id="customers">
                                        <thead>
                                            <tr style="    font-size: 10px; background: #d71921; color: white; font-weight: bold;">
                                                @foreach (var skucoloum in skupre.Value[0] as IDictionary<string, object>)
                                                {
                                            @*        <th>@skucoloum.Key</th>*@


                                                    if (skucoloum.Key == "ActualDiscount")
                                                    {
                                                        <td>Actual Discount</td>
                                                    }
                                                    else if (skucoloum.Key == "Contribution")
                                                    {
                                                        <td>Contribution</td>
                                                    }
                                                   else  if (skucoloum.Key == "PackCode")
                                                    {
                                                        <td>Pack Code</td>
                                                    }
                                                    else if (skucoloum.Key == "ProductName")
                                                    {
                                                        <td>Product Name</td>
                                                    }
                                                    else if (skucoloum.Key == "Description")
                                                    {
                                                        <td>Description</td>
                                                    }
                                                    else
                                                    {



                                                        <td>

                                                            @skucoloum.Key
                                                        </td>

                                                    }

                                                }
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var skudata in skupre.Value)
                                            {
                                                <tr style="font-size:10px;">
                                                    @foreach (var skudata1 in skudata)
                                                    {

                                                    @*    <td style="text-align:right;">@skudata1.Value</td>*@
                                                        if (skudata1.Key == "PackCode")
                                                        {
                                                            <td>@skudata1.Value</td>
                                                        }
                                                        else if (skudata1.Key == "ProductName")
                                                        {
                                                            <td>@skudata1.Value</td>
                                                        }
                                                        else if (skudata1.Key == "Description")
                                                        {
                                                            <td>@skudata1.Value</td>
                                                        }
                                                        else
                                                        {



                                                            <td style="text-align:right;">

                                                                @skudata1.Value
                                                            </td>

                                                        }


                                                    }
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                        @foreach (var valpre in Model.SalesValuesPre)
                        {
                            @if (valpre.Key == acc)
                            {
                                <div id="value-@prevalue" style="overflow:auto; display:none">
                                    <table id="customers">
                                        <thead>
                                            <tr style="   font-size: 10px; background: #d71921; color: white; font-weight: bold;">
                                                @foreach (var valuecolumn in valpre.Value[0] as IDictionary<string, object>)
                                                {
                                                   @* <th>@valuecolumn.Key</th>*@

                                                    if (valuecolumn.Key == "ActualDiscount")
                                                    {
                                                        <td>Actual Discount</td>
                                                    }
                                                    else if (valuecolumn.Key == "Contribution")
                                                    {
                                                        <td>Contribution</td>
                                                    }
                                                    else if (valuecolumn.Key == "PackCode")
                                                    {
                                                        <td>Pack Code</td>
                                                    }
                                                    else if (valuecolumn.Key == "ProductName")
                                                    {
                                                        <td>Product Name</td>
                                                    }
                                                    else if (valuecolumn.Key == "Description")
                                                    {
                                                        <td>Description</td>
                                                    }
                                                    else
                                                    {



                                                        <td>

                                                            @valuecolumn.Key
                                                        </td>

                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var valdata in valpre.Value)
                                            {
                                                <tr style="font-size:10px;">
                                                    @foreach (var valdata1 in valdata)
                                                    {

                                                      @*  <td style="text-align:right;">@valdata1.Value</td>*@
                                                        if (valdata1.Key == "PackCode")
                                                        {
                                                            <td>@valdata1.Value</td>
                                                        }
                                                        else if (valdata1.Key == "ProductName")
                                                        {
                                                            <td>@valdata1.Value</td>
                                                        }
                                                        else if (valdata1.Key == "Description")
                                                        {
                                                            <td>@valdata1.Value</td>
                                                        }
                                                        else
                                                        {



                                                            <td class="Comma" style="text-align:right;">

                                                                @valdata1.Value
                                                            </td>

                                                        }
     
                                                    }
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                        <div>
                            <div style="text-align:right; margin-top:2%;">
                                <label>Chemist Total:</label>


                                @foreach (var group in Model.preDateRanges.Where(predat => predat.PreTotal != null && predat.Chemist_Code == acc)
                               .GroupBy(predat => predat.Chemist_Code))
                                {
                                    var predat = group.First(); // Take the first item in each group

                                    <input disabled type="text" class="allinput-fields" value="@(predat.PreTotal != null ? string.Format("{0:yyyy-MM-dd}", predat.PreTotal) : string.Empty)" style="margin-left: 2%;" />
                                    @*<input disabled type="text" value="@(int.Parse(predat.PreTotal).ToString("#,##0") != null ? string.Format("{0:yyyy-MM-dd}", int.Parse(predat.PreTotal).ToString("#,##0")) : string.Empty)" style="margin-left: 2%; text-align:right;" />*@

                                    @*<input disabled type="text" id="editChemistCode" hidden value="@(predat.PreTotal != null ? string.Format("{0:yyyy-MM-dd}", predat.PreTotal) : string.Empty)" style="margin-left: 2%; text-align:right;" />
                                    <input disabled type="text" id="updateValue" style="margin-left: 2%; text-align:right;" />
                                *@
                                }

                            </div>
                            <div style="text-align:right; margin-top:2%;">
                                <label>Discount Percentage %:</label>


                                @foreach (var group in Model.preDateRanges.Where(predat => predat.PreTotal != null && predat.Chemist_Code == acc)
                               .GroupBy(predat => predat.Chemist_Code))
                                {
                                    var predat = group.First(); // Take the first item in each group

                                    <input disabled type="text" class="allinput-fields" value="@(predat.discountpercentage != null ? string.Format("{0:yyyy-MM-dd}", predat.discountpercentage) : string.Empty)" style="margin-left: 2%;" />
                                }

                            </div>
                        </div>


                        <p style="text-align: center; font-weight: bold; font-size: 20px;">Post-Sales</p>
                        <div style="text-align: center;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <p style="text-align:right; color: #d71921;">Sale Units</p>
                                    </div>
                                    <div class="col-4">
                                        <div id="toggle-@toggle" class="toggle-switch" onclick="editposttoggleSwitchAction(this,@toggle)">
                                            <div class="toggle-slider"></div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p style="text-align:left; color: #d71921;">Sale Values</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top:15px; padding-left:15px;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                     @*   <label style="font-weight:bold">Pre Activity Sales</label>*@
                                    </div>
                                    <div class="col-3">
                                        <label>From:</label>
                                       @* @foreach (var postdat in Model.postDateRanges)
                                        {
                                            if (postdat.PostTotal != null)
                                            {
                                                if (postdat.Chemist_Code == acc)
                                                {
                                                    <input disabled type="date" value="@(postdat.PostFromDate != null ? string.Format("{0:yyyy-MM-dd}", postdat.PostFromDate) : string.Empty)" style="margin-left: 2%;" />
                                                }
                                            }

                                        }*@

                                        @foreach (var postdat in Model.postDateRanges.Where(postdat => postdat.PostTotal != null && postdat.Chemist_Code == acc))
                                        {
                                            <input disabled type="text" value="@(postdat.PostFromDate != null ? postdat.PostFromDate.Value.ToString("MMM yyyy") : string.Empty)" style="margin-left: 2%;" />
                                        }


                                    </div>
                                    <div class="col-3">
                                        <label>To:</label>
                                        @*@foreach (var postdat in Model.postDateRanges)
                                        {
                                            if (postdat.PostTotal != null)
                                            {
                                                if (postdat.Chemist_Code == acc)
                                                {
                                                    <input disabled type="date" value="@(postdat.PostToDate != null ? string.Format("{0:yyyy-MM-dd}", postdat.PostToDate) : string.Empty)" style="margin-left: 2%;" />
                                                }
                                            }

                                        }*@

                                        @foreach (var postdat in Model.postDateRanges.Where(postdat => postdat.PostTotal != null && postdat.Chemist_Code == acc))
                                        {
                                            <input disabled type="text" value="@(postdat.PostToDate != null ? postdat.PostToDate.Value.ToString("MMM yyyy") : string.Empty)" style="margin-left: 2%;" />
                                        }


                                    </div>
                                    <div class="col-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var skupost in Model.SalesUnitsPost)
                        {
                            @if (skupost.Key == acc)
                            {
                                <div id="postsku-@postsku" style="overflow:auto; ">
                                    <table id="customers">
                                        <thead>
                                            <tr style="   font-size: 10px; background: #d71921; color: white; font-weight: bold;">
                                                @foreach (var skucoloum in skupost.Value[0] as IDictionary<string, object>)
                                                {
                                                   @* <th>@skucoloum.Key</th>*@
                                                     if (skucoloum.Key == "PackCode")
                                                    {
                                                        <td>Pack Code</td>
                                                    }
                                                    else if (skucoloum.Key == "ProductName")
                                                    {
                                                        <td>Product Name</td>
                                                    }
                                                    else if (skucoloum.Key == "Description")
                                                    {
                                                        <td>Description</td>
                                                    }
                                                    else
                                                    {



                                                        <td style="width:10%;">

                                                            @skucoloum.Key
                                                        </td>

                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var skudata in skupost.Value)
                                            {
                                                <tr style="font-size:10px;">
                                                    @foreach (var skudata1 in skudata)
                                                    {
@*
                                                        <td style="text-align:right;">@skudata1.Value</td>*@
                                                        if (skudata1.Key == "PackCode")
                                                        {
                                                            <td>@skudata1.Value</td>
                                                        }
                                                        else if (skudata1.Key == "ProductName")
                                                        {
                                                            <td>@skudata1.Value</td>
                                                        }
                                                        else if (skudata1.Key == "Description")
                                                        {
                                                            <td>@skudata1.Value</td>
                                                        }
                                                        else
                                                        {



                                                            <td style="text-align:right; width:10%;">

                                                                @skudata1.Value
                                                            </td>

                                                        }

                                                    }
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                        @foreach (var valpost in Model.SalesValuesPost)
                        {
                            @if (valpost.Key == acc)
                            {
                                <div id="postvalue-@postvalue" style="overflow:auto; display:none">
                                    <table id="customers">
                                        <thead>
                                            <tr style="   font-size: 10px; background: #d71921; color: white; font-weight: bold;">
                                                @foreach (var valuecolumn in valpost.Value[0] as IDictionary<string, object>)
                                                {
                                                   @* <th>@valuecolumn.Key</th>*@
                                                    if (valuecolumn.Key == "PackCode")
                                                    {
                                                        <td>Pack Code</td>
                                                    }
                                                    else if (valuecolumn.Key == "ProductName")
                                                    {
                                                        <td>Product Name</td>
                                                    }
                                                    else if (valuecolumn.Key == "Description")
                                                    {
                                                        <td>Description</td>
                                                    }
                                                    else
                                                    {



                                                        <td style="width:10%;">

                                                            @valuecolumn.Key
                                                        </td>

                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var valdata in valpost.Value)
                                            {
                                                <tr style="font-size:10px;">
                                                    @foreach (var valdata1 in valdata)
                                                    {

                                                      @*  <td style="text-align:right;">@valdata1.Value</td>*@

                                                        if (valdata1.Key == "PackCode")
                                                        {
                                                            <td>@valdata1.Value</td>
                                                        }
                                                        else if (valdata1.Key == "ProductName")
                                                        {
                                                            <td>@valdata1.Value</td>
                                                        }
                                                        else if (valdata1.Key == "Description")
                                                        {
                                                            <td>@valdata1.Value</td>
                                                        }
                                                        else
                                                        {



                                                            <td class="Comma" style="text-align:right;">

                                                                @valdata1.Value
                                                            </td>
                                                          
                                                        }

                                                    }
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                        <div>
                            <div style="text-align:right; margin-top:2%;">
                                <label>Chemist Total:</label>
                                @foreach (var postdat in Model.postDateRanges)
                                {
                                    if (postdat.PostTotal != null)
                                    {
                                        if (postdat.Chemist_Code == acc)
                                        {
@*                                            <input disabled type="text" value="@(postdat.PostTotal != null ? string.Format("{0:yyyy-MM-dd}", postdat.PostTotal) : string.Empty)" style="margin-left: 2%; text-align:right;" />*@

                                            <input disabled type="text" class="allinput-fields" value="@(postdat.PostTotal != null ? string.Format("{0:yyyy-MM-dd}", postdat.PostTotal) : string.Empty)" style="margin-left: 2%;" />
                                        }
                                    }

                                }

                            </div>
                        </div>
                        <div>
                            <div style="text-align:right; margin-top:2%;">
                                <label>Discount Percentage %:</label>
                                @foreach (var postdat in Model.postDateRanges)
                                {
                                    if (postdat.PostTotal != null)
                                    {
                                        if (postdat.Chemist_Code == acc)
                                        {
                                            <input disabled type="text" class="allinput-fields" value="@(postdat.discountpostcentage != null ? string.Format("{0:yyyy-MM-dd}", postdat.discountpostcentage) : string.Empty)" style="margin-left: 2%;" />
                                        }
                                    }

                                }

                            </div>
                        </div>


                    </div>

                    presku++;
                    prevalue++;
                    postsku++;
                    postvalue++;
                    toggle++;
                }
                <div>
                    <div style="text-align:right; margin-top:2%;">
                        <label>Total Without Discount:</label>
                        @*@foreach (var grandtaotal in Model.customersmodels)
                        {
                            if (grandtaotal.grandtotal != null)
                            {

                                <input  disabled type="text" value="@grandtaotal.grandtotal" style="margin-left: 2%; text-align:right;" />
                            }

                        }*@

                        @foreach (var totalwithoutdiscount in Model.customersmodels.Where(totalwithoutdiscount => totalwithoutdiscount.totalwithoutdiscount != null)
                        .GroupBy(totalwithoutdiscount => totalwithoutdiscount.totalwithoutdiscount))
                        {
                            var predat = totalwithoutdiscount.First(); // Take the first item in each group

                            <input disabled type="text" class="allinput-fields" value="@(predat.totalwithoutdiscount != null ? predat.totalwithoutdiscount : string.Empty)" style="margin-left: 2%;" />
                        }

                    </div>
                </div>

                <div>
                    <div style="text-align:right; margin-top:3%;">
                        <label>Total With Discount:</label>
                        @*@foreach (var grandtaotal in Model.customersmodels)
                        {
                        if (grandtaotal.grandtotal != null)
                        {

                        <input  disabled type="text" value="@grandtaotal.grandtotal" style="margin-left: 2%; text-align:right;" />
                        }

                        }*@

                        @foreach (var totalwithdiscount in Model.customersmodels.Where(totalwithdis => totalwithdis.totalwithdiscount != null)
                        .GroupBy(totalwithdiscount => totalwithdiscount.totalwithdiscount))
                        {
                            var predat = totalwithdiscount.First(); // Take the first item in each group

                            <input disabled type="text" class="allinput-fields" value="@(predat.totalwithdiscount != null ? predat.totalwithdiscount : string.Empty)" style="margin-left: 2%;" />
                        }

                    </div>
                </div>

                <div>
                    <div style="text-align:right; margin-top:2%;">
                        <label>BPS Percentage %:</label>
@*                        @foreach (var bpsperc in Model.customersmodels)
                        {
                            if (bpsperc.bpspercentage != null)
                            {
                                <input disabled type="text" value="@(bpsperc.bpspercentage != null ? string.Format("{0:yyyy-MM-dd}", bpsperc.bpspercentage ) : string.Empty)" style="margin-left: 2%; text-align:right;" />
                            }

                        }*@

                        @foreach (var bpsperc in Model.customersmodels.Where(bpsperc => bpsperc.bpspercentage != null)
                        .GroupBy(bpsperc => bpsperc.bpspercentage))
                        {
                            var predat = bpsperc.First(); // Take the first item in each group

                            <input disabled type="text" class="allinput-fields" value="@(predat.bpspercentage != null ? predat.bpspercentage : string.Empty)" style="margin-left: 2%;" />
                        }

                    </div>
                </div>

                <div>
                    <div style="text-align:right; margin-top:2%;">
                        <label>NET Percentage %:</label>
@*                        @foreach (var roi in Model.customersmodels)
                        {
                            if (roi.totalroipercentage != null)
                            {
                                <input disabled type="text" value="@(roi.totalroipercentage != null ? string.Format("{0:yyyy-MM-dd}", roi.totalroipercentage ) : string.Empty)" style="margin-left: 2%; text-align:right;" />
                            }

                        }*@

                        @foreach (var roi in Model.customersmodels.Where(roi => roi.totalroipercentage != null)
                        .GroupBy(roi => roi.totalroipercentage))
                        {
                            var predat = roi.First(); // Take the first item in each group

                            <input disabled type="text" class="allinput-fields" value="@(predat.totalroipercentage != null ? predat.totalroipercentage : string.Empty)" style="margin-left: 2%;" />
                        }

                    </div>
                </div>
            </div>
        </div>
@*        @if (roleId == "1" && ViewBag.Status == 6)
        {

            @if (Model.uploadedfiles.Count > 0)
            {
                <table id="customers">
                    <tr>
                        <th>FileName</th>
                    </tr>

                    @foreach (var f in Model.uploadedfiles)
                    {

                        <td>
                            @{

                                string[] parts = f.filename.Split('_');
                                if (parts.Length > 1)
                                {
                                    string afterUnderscore = parts[1];
                                    @afterUnderscore
                                }
                                else
                                {
                                    @f.filename
                                }
                            }
                        </td>

                    }


                </table>
                <div style="text-align:center; padding-top:4%;">
                    <input disabled id="asmact" type="button" class="createbtn" value="Done" />
                </div>
            }
            else
            {
                

            }

        }*@

        @if (ViewBag.roleid != null)
        {
            

            @if (ViewBag.roleid != "1" && roleId != "15")
            {

                <div style="padding-top:20px;">
                    @if (screentype == "pendingscreen")
                    {
                        <div>
                            <label style="font-weight:bold; @((roleId == "16" && poNumber != null) ? "display:none;" : "")">Comments:</label><br />
                        <textarea id="comments" style="width:60%; height:100px; margin-top:1%; @((roleId == "16" && poNumber != null) ? "display:none;" : "")"></textarea><br>
                        <label class="hide" id="CommentsErrorLabel" style="color:red;font-size:10px;">Required! Please Enter Comments</label>
                        <input type="text" style="visibility:hidden;" id="wlstid" value="@ViewBag.WorklistId"></input>
                    </div>
                    }

                    @if (poNumber == null && roleId == "2" || roleId == "3")
                    {
                        @if (screentype == "pendingscreen")
                        {
                            <div style="text-align:center; padding-top:3%;">
                                <input id="approvebps" type="button" class="btn btn-primary" value="Approve" onclick="BpsApproval()" />


                        </div>
                        }
                    }
                    else if (roleId == "12" || roleId == "13" || roleId == "14" || roleId == "18")
                    {
                        @if (screentype == "pendingscreen")
                        {
                            <div style="text-align:center; padding-top:3%;">
                                <input id="approvebps" type="button" class="btn btn-primary" value="Approve" onclick="BpsApproval()" />

                                <input id="pbjectionbps" type="button" class="btn btn-danger" value="Objection" onclick="BpsObjection()" />

                            </div>
                        }
                    }
                    else if (poNumber == null)
                    {
                        <div style="text-align:center; padding-top:3%;">
                            <input id="approvebps" type="button" class="btn btn-primary" value="Approve" onclick="BpsApproval()" />

                            <input id="pbjectionbps" type="button" class="btn btn-danger" value="Objection" onclick="BpsObjection()" />
                        </div>
                    }
                </div>
            }

        }
 
@*        @if (roleId == "16" && poNumber !=null)
        {
            <div style="text-align:center; padding-top:3%;">
                <input id="maactivity" type="button" class="createbtn" value="Done" onclick="BpsMAActivity()" />
            </div>

        }
            else if (poNumber == null)
        {

        }*@
        

    

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/datatable_file.js"></script>

    <script src="~/js/modal.js"></script>



    <script>

        $(document).ready(function () {
            let defaultValue = numberWithCommas($("#defaultValue")[0].value)
            $("#updateValue").val(defaultValue);

            let defaultChemistCode = numberWithCommas($("#defaultChemistCode")[0].value)
            $("#updateChemistCode").val(defaultChemistCode);

            let defaultGrandTotal = numberWithCommas($("#defaultGrandTotal")[0].value)
            $("#updateGrandTotal").val(defaultGrandTotal);


        });

        function numberWithCommas(value) {
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        }


        function BpsMAActivity() {
            ;
            var fileInput = document.getElementById('asmfile');
            var trackingid = document.getElementById("tracid").value;



            var formData = new FormData();

            if (fileInput != null) {
                // Append each selected file to the FormData object
                for (var i = 0; i < fileInput.files.length; i++) {
                    formData.append('Files', fileInput.files[i]);
                }
            }
            formData.append('TrackingId', trackingid);
            $.ajax({
                url: "/ListView/BpsMAActivity", // Replace with your controller and action names
                type: 'POST', // Use GET or POST based on your server's requirements
                data: formData, // Send the entire FormData object
                contentType: false, // Required for sending FormData
                processData: false, // Required for sending FormData
                success: function (response) {
                    if (data = true) {

                        var modelvisisble = document.getElementById('myModalDetails').style.visibility = 'visible';

                    } else {
                        var modelvisisble = document.getElementById('myModalDetails').style.visibility = 'hidden';
                    }
                    setTimeout(function () {
                        window.location.href = "/ListView/PendingView/2"; // you can pass true to reload function to ignore the client cache and reload from the server
                    }, 5000);
                },
                error: function (xhr, status, error) {
                    // Handle errors here
                    console.error("Error:", status, error);
                }
            });

        }

        $.ajax({
            url: '/ListView/GetTemplateByFileName',
            type: 'GET',
            data: { fileName: "Education annexure.docx" },
            success: function (responseData) {
                console.log('responseData', responseData)
                if (responseData != null) {
                    document.getElementById("templateFile").innerHTML += `<button onclick="downloadTemplate('${responseData.id}')" class="btn btn-outline-primary">Download File</button>`
                }
            }
        });

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }


        function BpsPoNumber() {
            ;
            var ponum = document.getElementById("ponum").value;
            var trackingid = document.getElementById("tracid").value;
            $.ajax({
                url: "/ListView/PONumberActivity", // Replace with your controller and action names
                type: 'POST', // Use GET or POST based on your server's requirements
                data: { ponum: ponum, trackingid: trackingid }, // Send the entire FormData object
                success: function (response) {
                    if (data = true) {

                        var modelvisisble = document.getElementById('myModalDetails').style.visibility = 'visible';

                    } else {
                        var modelvisisble = document.getElementById('myModalDetails').style.visibility = 'hidden';
                    }
                    setTimeout(function () {
                        window.location.href = "/ListView/ApprovedView"; // you can pass true to reload function to ignore the client cache and reload from the server
                    }, 5000);
                },
                error: function (xhr, status, error) {
                    // Handle errors here
                    console.error("Error:", status, error);
                }
            });
        }




    </script>

</body>

</html>






